RewriteEngine on

#redirect http non-www to https://www
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^(www\.)?gropart\.com$
#RewriteRule (.*) https://www.gropart.com/$1 [R=301,L]
#redirect https non-www to www
#RewriteCond %{HTTPS} on
#RewriteCond %{HTTP_HOST} ^gropart\.com$
#RewriteRule (.*) https://www.gropart.com/$1 [R=301,L]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

RewriteCond %{REQUEST_URI} !^public

RewriteRule ^(.*)$ public/$1 [L]
