.container { max-width: 1650px; }
.product-button { justify-content:center; }
.header .header-top { padding: 5px 0; }
.footer__links p a { font-size: .75rem; }
.copyright { margin-top: 3px; }
.widget-description { font-size: .85rem; text-align: justify; }
#footer .widget.widget-custom-menu ul li, 
#footer .widget.widget-custom-menu ul li a { font-size: .9rem; }
.footer__links { padding: 20px 0 0; }
.widget-layered-nav-list ul .category-filter.opened ul li.category-filter:before { content: "\e93c"; display: inline-block; width: 15px; height: 15px; font-size: .6rem; margin-top: 10px; float: left; font-family: 'Linearicons'; }
.rightFloatingBar .dockerTab { background-color: #bbbbbb; color: #555555; text-align: center; height: 30px; border-radius: 10px; }
.rightFloatingBar .dockerTab .fa { position: relative; bottom: 12px; }
.rightFloatingBar { position: fixed; top: 60%; left:-15px; transform-origin: left; transform: rotate(90deg); font-size: 24px; z-index: 1000; }
.rightFloatingBar.closed { transition:all 0.2s ease; }
.rightFloatingBar.open { left: 35px; transition:all 0.2s ease; }
.rightFloatingBar:hover { cursor:pointer; }
.menu--mobile>li>a.become-vendor-link { background-color: var(--primary-color); font-weight: 700; color: #fff;}
.rightFloatingBar a { padding: 10px; color: #fff; }
.rightFloatingBar a i.fa { transform: rotate(270deg); }
.rightFloatingBar a.langChange { background-color: #222026; }
.rightFloatingBar a.supportWhatsApp { background-color: #28d33d; }
.rightFloatingBar a.orderTrack { background-color: #ffc107; }
.header .header-middle .header__center { width: 45%; }
.header .header-middle .header__right { width: 35%; }
.header .header-info.header-info-right .become-vendor-link { background: var(--primary-color); color: #fff; padding: 10px 20px; border-radius: 3px; font-weight: 700; }
.header .header-info.header-info-right .become-vendor-link:hover, 
.header .header-info.header-info-right .become-vendor-link:active,
.header .header-info.header-info-right .become-vendor-link:focus { color: #fff; background-color: #02e06e; }
.header .header-middle .header-wrapper { padding: 10px 0; }
.product-loop_button.bulk-order-button { padding: 10px 0px 10px 19px; border-radius: 3px; background-color: #ffc107; text-align: center; margin-bottom: -10px; position: relative; top: -10px; }
.product-inner .product-bottom-box { padding: 15px 14px 8px; }
.slick-list.draggable .product-loop_button.bulk-order-button, 
.shop-products-listing .product-loop_button.bulk-order-button { display: none; }
.slick-list.draggable .product-inner .product-button .add-to-cart-button, 
.shop-products-listing .product-inner .product-button .add-to-cart-button { padding: 10px 15px; width: auto; }
.product-detail-container .product-loop__buttons .product-loop_button.bulk-order-button .product-loop_action { font-weight: 700; }
.header .header-middle .header__left .logo a img { width: 250px; }
.header .header-bottom { border-bottom: 1px solid var(--header-deliver-color); }
.djform { position:relative;z-index:1;display:inline-block; }
.rmbranding { position:absolute;width:100%;height:50px;background:#ffffff;right:0px;bottom:10px;z-index:999;display:block; }
.product-detail-tabs #product-detail-tabs a:after { content: "\e93c"; display: inline-block; width: 10px; height: 10px; float: right; font-family: 'Linearicons'; }
.product-inner .product__title a { font-size: 1.01rem; font-weight: 600; }
.product-inner .product-details .sold-by-meta { font-style: italic; color: #808080; font-size: 0.65rem; }
.widget-socials-share.widget-socials__text:before { content: "Share this product"; display: block; width: 100%; margin-bottom: 10px; font-weight: 800; }
.cart--mini .mini-cart-content .product-content { padding-right: 0px; }
.product-price { font-size: 1.15rem; }
.product-detail-container .product-details-content .product-details .product-price, .ps-product--header-sticky .product-price { font-size: 1.5rem; }
.product-detail-container .cart-form { margin-bottom: 20px; padding: 15px 0; }
.product-stock.in-stock { margin: 0; }
.product-detail-container .fw-normal.fs-6 { background-color: var(--primary-color); padding: 15px; border-radius: 5px; color: #fff; margin-bottom: 25px; border: 5px solid #228758; }
.product-detail-container .fw-normal.fs-6 a { color: #ffc107 !important; }
.btn-primary.disabled, .btn-primary:disabled { color: #ffffff; }
.primary-sidebar { background: #f6f6f6; padding: 1px 20px 20px; border-radius: 5px; }
.text-primary { color: #198754 !important; font-weight: 600; }
.blog-page-content .blog-page-content-wrapper { max-width: initial; }
.blog-page-content .post-item__image img { max-width: initial; border-radius: 5px; }
.mt-5.pt-3.post-detail__content { margin-top: 5px !important; }
.widget__inner .card .img-fluid-eq { height: 100%; }
.widget-area .widget-title { padding: 0 0 0; }
.customer-auth-page .bg-light { border-radius: 5px; }
.customer-auth-form .nav-tabs h1 { margin-top: 20px !important; }
.related-posts .list-post--wrapper .post-item-wrapper .post-item__content { padding: 0 1.1rem !important; }
.related-posts .list-post--wrapper .post-item-wrapper .entry-description p { text-align: justify; font-style: italic; font-size: 0.75rem }
.related-posts .list-post--wrapper .post-item-wrapper .card.post-item__inner { margin: 0 !important; padding: 0 !important; background: #f7f7f7; border-radius: 5px; }
.related-posts .list-post--wrapper .post-item-wrapper .post-item__image { margin-bottom: 10px; }
.related-posts .list-post--wrapper .slick-slides-carousel { padding-bottom: 0; }
.widget-area .widget-sidebar { margin-bottom: 10px; }
.widget-product-categories .category__thumb .img-fluid-eq__dummy { margin-top: 75%; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__name 
{ font-size: 1rem; font-weight: 700; }
.widget-mobile-apps { padding: 50px 15px 300px;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover { background-color: #02e06e; color: #ffffff; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body>a { padding: 0 !important; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__text { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__thumb img { height: auto; }
.vendor-store-info li { font-style: italic; }
.vendor-store-info li.vendor-store-register-date span { color: #828282; }
.vendor-store-info .star-rating-wrapper .star-count { color: #1800cd!important; }
.vendor-store-info { color: #000; }
.vendor-info { background-color: #f5f5f5; border-radius: 10px; }
#product-faqs #faq-accordion .card .collapse.show:last-child { border-bottom: 1px solid rgba(0,0,0,.125); }
#footer .footer-widgets .border-top { padding-top: 2rem !important; padding-bottom: 1rem !important; }
#footer .border-top { padding-bottom: 0.25rem !important; padding-top: 0.25rem !important; }
#footer .footer-widgets .row.border-top .col.mb-5 { margin-bottom: 0 !important; }

@media screen and (min-width: 1460px) {
	.product-button .quantity { flex: 0 1 65px; }
}
@media screen and (min-width: 1361px) and (max-width: 1460px) {
	.header .header-middle .header__center { width: 50%; }
	.header .header-middle .header__right { width: 30%; }
  .product-button .quantity { flex: 0 1 65px; }
}
@media screen and (max-width: 1360px) {
  .product-detail-container .fw-normal.fs-6 { padding:15px 10px; }
  	.slick-list.draggable .product-inner .product-button .add-to-cart-button, 
	.shop-products-listing .product-inner .product-button .add-to-cart-button { font-size: .75rem; padding: 10px; }
	.header .header-middle .header__center { width: 49%; }
	.header .header-middle .header__right { width: 40%; }
  .product-button .quantity { flex: 0 1 65px; }
}
@media screen and (max-width: 767px) {
  .product-inner.slick-slide .product-content-box .product-price { font-size: .85rem }
  .header .header-mobile { padding: 0px 15px; }
  .section-banner-wrapper .banner-medium .banner-item__image { height: auto; }
  .header .header-middle .header-wrapper { padding: 0 !important; }
  #whatsapp_chat_widget .wa-chat-box { margin-bottom: auto !important; }
  #whatsapp_chat_widget #wa-widget-send-button { margin: 0 0 120px 0 !important; }
}
@media screen and (max-width: 425px) {
  .rightFloatingBar a { padding: 8px; }
  .product-price { font-size: 0.95rem; }
  .rightFloatingBar .dockerTab { height: 25px; }
  .rightFloatingBar.open { left: 25px; }
  .rightFloatingBar .dockerTab .fa { bottom: 8px; }
  .rightFloatingBar { left: -5px; font-size: 14px; }
}