.container { max-width: 1650px; }
.header .header-middle .header-wrapper { padding: 10px 0; }
.header .header-middle .header__left .logo a img { width: 250px; }
.header .header-bottom { border-bottom: 1px solid var(--header-deliver-color); }
.product-detail-tabs #product-detail-tabs a:after { content: "\e93c"; display: inline-block; width: 10px; height: 10px; float: right; font-family: 'Linearicons'; }
.widget-socials-share.widget-socials__text:before { content: "Share this product"; display: block; width: 100%; margin-bottom: 10px; font-weight: 800; }
.payment-checkout-btn { background-color: #198754; color: #fff; padding: 15px; width: 100%; font-weight: 600; line-height: 1; font-size: 1.15rem !important; }
.cart--mini .mini-cart-content .product-content { padding-right: 0px; }
.product-price { font-size: 1.15rem; }
.product-detail-container .product-details-content .product-details .product-price, .ps-product--header-sticky .product-price { font-size: 1.5rem; }
.product-detail-container .cart-form { margin-bottom: 20px; padding: 15px 0; }
.product-stock.in-stock { margin: 0; }
.col-lg-3.col-md-4 .row .col-12 .fw-normal.fs-6 { background-color: var(--primary-color); padding: 15px; border-radius: 5px; color: #fff; margin-bottom: 25px; border: 5px solid #228758; }
.col-lg-3.col-md-4 .row .col-12 .fw-normal.fs-6 a { color: #ffc107 !important; }
.btn-primary.disabled, .btn-primary:disabled { color: #ffffff; }
.primary-sidebar { background: #f6f6f6; padding: 1px 20px 20px; border-radius: 5px; }
.text-primary { color: #198754 !important; font-weight: 600; }
.blog-page-content .blog-page-content-wrapper { max-width: initial; }
.blog-page-content .post-item__image img { max-width: initial; border-radius: 5px; }
.mt-5.pt-3.post-detail__content { margin-top: 5px !important; }
.widget__inner .card .img-fluid-eq { height: 100%; }
.widget-area .widget-title { padding: 0 0 0; }
.customer-auth-page .bg-light { border-radius: 5px; }
.customer-auth-form .nav-tabs h1 { margin-top: 20px !important; }
.related-posts .list-post--wrapper .post-item-wrapper .post-item__content { padding: 0 1.1rem !important; }
.related-posts .list-post--wrapper .post-item-wrapper .entry-description p { text-align: justify; font-style: italic; font-size: 0.75rem }
.related-posts .list-post--wrapper .post-item-wrapper .card.post-item__inner { margin: 0 !important; padding: 0 !important; background: #f7f7f7; border-radius: 5px; }
.related-posts .list-post--wrapper .post-item-wrapper .post-item__image { margin-bottom: 10px; }
.related-posts .list-post--wrapper .slick-slides-carousel { padding-bottom: 0; }
.widget-area .widget-sidebar { margin-bottom: 10px; }
.widget-product-categories .category__thumb .img-fluid-eq__dummy { margin-top: 75%; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__name 
{ font-size: 1rem; font-weight: 700; }
.widget-mobile-apps { padding: 50px 15px 300px;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover { background-color: #02e06e; color: #ffffff; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body>a { padding: 0 !important; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__text { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.widget-product-categories .product-categories-body .product-category-item .category-item-body .category__thumb img { height: auto; }
.vendor-store-info li { font-style: italic; }
.vendor-store-info li.vendor-store-register-date span { color: #828282; }
.vendor-store-info .star-rating-wrapper .star-count { color: #1800cd!important; }
.vendor-store-info { color: #000; }
.vendor-info { background-color: #f5f5f5; border-radius: 10px; }
#product-faqs #faq-accordion .card .collapse.show:last-child { border-bottom: 1px solid rgba(0,0,0,.125); }
#footer .footer-widgets .border-top { padding-top: 2rem !important; padding-bottom: 2rem !important; }
#footer .border-top { padding-bottom: 0.25rem !important; padding-top: 0.25rem !important; }
#footer .footer-widgets .row.border-top .col.mb-5 { margin-bottom: 0 !important; }
@media (max-width: 767px) {
  .header .header-mobile {
      padding: 0px 15px;
  }
  .header .header-middle {
      display: none;
  }
}